*.o
*.d
*.cmd
*.log
*.pyc
*.swp
*.swo
*~
build
build-*
build_*
cscope.*
.dir
venv
.venv
.idea

/*.patch

tags
.project
.cproject
.xxproject
.envrc
.vscode
sanity-out*
twister-out*

doc/_build
doc/nrf/_doxygen/
doc/nrf/_samples/
doc/*_warnings.txt
doc/*_doc.log

ext/lib/bin/supl
ext/lib/bin/libsupl.zip
ext/BSEC_*

applications/nrf5340_audio/src/fw_info_app.c

# Ignore all zephyr files
zephyr/**
.west

# Exept the one we modify for the project
# We need to include the parent file first each time, because it is not possible to re-include a file if a parent directory of that file is excluded
!zephyr/subsys/
zephyr/susbsys/**
!zephyr/subsys/mgmt/
zephyr/susbsys/mgmt/**
!zephyr/subsys/mgmt/updatehub/
!zephyr/subsys/mgmt/updatehub/**
